body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #0ae2c0;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 35%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 50%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #000000;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-login{
    background-color: blueviolet !important;
    color: #FFFFFF;
    height: 30px;
    width: 130px;
    border-radius: 11px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.btn-registrar {
    background-color: #0ae2c0 !important;
    color: #000000;
    height: 30px;
    width: 130px;
    border-radius: 11px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 13px;
}

.general-input-text {
    border: none;
    border-bottom: 1px solid black;
}

.general-form-group {
    margin: 10px;
    margin-left: 0px;
}

.general-label {
    font-size: 17px;
}

